# Artificial Intellegence 
#### Lab 09

<i> Syed Muhammad Akbar </i><br>
<i> 237544 </i><br>
<i> BSCS 7B </i>

## <i> Train </i>
Decision Tree classifier considering the following table data. The ‘Play Golf’ represents the (class) label, while Outlook, Temp, Humidity, and Windy are the attributes/predictors.

In [0]:
import pandas as pd
import os
import numpy as np
import math

# DATA

Data and Data Description

In [0]:
data_frame = pd.DataFrame(
    {
        'Outlook': ['Rainy', 'Rainy', 'Overcast', 'Sunny', 'Sunny', 'Sunny', 'Overcast', 'Rainy', 'Rainy', 'Sunny', 'Rainy', 'Overcast', 'Overcast','Sunny'],
        'Temp': ['Hot', 'Hot', 'Hot', 'Mild', 'Cool', 'Cool', 'Cool', 'Mild', 'Cool', 'Mild', 'Mild', 'Mild', 'Hot', 'Mild'],
        'Humidity': ['High', 'High', 'High', 'High', 'Normal', 'Normal', 'Normal', 'High', 'Normal', 'Normal', 'Normal', 'High', 'Normal', 'High'],
        'Windy' : ['False', 'True', 'False', 'False', 'False', 'True', 'True', 'False', 'False', 'False', 'True', 'True', 'False', 'True'],
        'Play Golf' : ['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No']
    }
)
data_frame

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No

In [0]:
data_frame.describe()

       Outlook  Temp Humidity  Windy Play Golf
count       14    14       14     14        14
unique       3     3        2      2         2
top      Sunny  Mild   Normal  False       Yes
freq         5     6        7      8         9

# Entropy

In [0]:
def cal_entropy_label(data, label):
  entropy = 0

  label_set = data[label]
  type_of_label = label_set.unique()
  total = label_set.count()

  for label_value in type_of_label:
    temp = label_set[label_set == label_value]
    prob = temp.count() / total 
    entropy_val = -prob * math.log(prob, 2)
    entropy += entropy_val

  return entropy 

decision_ntrpy = cal_entropy_label(data_frame, 'Play Golf')
print(decision_ntrpy)

0.9402859586706309

# Gain

In [0]:
def cal_gain(data, field, label):
  gain = cal_entropy_label(data, label)
  
  total = len(data)

  # type_of_label
  label_set = data[label]
  type_of_label = label_set.unique()
  total_label = len(type_of_label)

  # type_of_field
  field_set = data[field]
  type_of_field = field_set.unique()
  total_field = len(type_of_field)

  entropy_field = 0

  #print(type_of_field)
  for field_value in type_of_field:
    data_field = data[data[field] == field_value]
    total_field = len(data_field)

    label_set = data_field[label]
    type_of_label_field = label_set.unique()
    total_label_field = len(type_of_label_field)
    
    #print(type_of_label_field)
    if(total_label == total_label_field):
      for label_value in type_of_label_field:
        temp = data_field[data_field[label] == label_value]
        prob = len(temp) / len(data_field)
        #print("probability = " + str(prob))
        entropy_val = -prob * math.log(prob, 2)
        entropy_field += ( total_field / total ) * entropy_val
    else:
      entropy_field += 0
    
  
  gain -= entropy_field

  return gain

    

# outlk_gain = cal_gain(data_frame, 'Outlook', 'Play Golf')
# print(outlk_gain)
# wndy_gain = cal_gain(data_frame, 'Windy', 'Play Golf')
# print(wndy_gain)

# Building Tree

In [108]:
def check_end(data, label):
  label_set = data[label]
  type_of_label = label_set.unique()

  if(len(type_of_label) == 1):
    return [True, type_of_label]
  else:
    return [False, None]



def build_tree(data, label, used):
  tree = {}
  uses = []
  
  print("used" + str(used))

  fields = data.columns
  fields = list(fields)
  for field in fields: 
    if field in used: 
        fields.remove(field)
  
  if len(fields) == 0:
    return tree        

  if(len(tree) == 0):
    gain = []
    for field in fields:
      gain.append(cal_gain(data, field, label))  
    gain.pop()
    
    
    print(fields)
    print(gain)
    
    
    index = gain.index(max(gain))
    print(index)
    field = fields[index]
    tree[field] = {}
    uses = used + [field]

    fields_set = data[field]
    type_of_fields = fields_set.unique()

    for type_of_field in type_of_fields:
      data_type_field = data[data[field] == type_of_field]
      chk_end, type_label = check_end(data_type_field, label)
      if(chk_end):
        tree[field][type_of_field] = type_label
      else:
        print(type_of_field)
        tree[field][type_of_field] = build_tree(data_type_field, label, uses)
         
  #field_set = data_field[field]
  #field_values = field_set.unique()


  return tree

tree = build_tree(data_frame, 'Play Golf', used = [])
print(tree)

used[]
['Outlook', 'Temp', 'Humidity', 'Windy', 'Play Golf']
[0.246749819774439, 0.029222565658954647, 0.15183550136234136, 0.04812703040826927]
0
Rainy
used['Outlook']
['Temp', 'Humidity', 'Windy', 'Play Golf']
[0.5709505944546686, 0.9709505944546686, 0.01997309402197489]
1
Sunny
used['Outlook']
['Temp', 'Humidity', 'Windy', 'Play Golf']
[0.01997309402197489, 0.01997309402197489, 0.9709505944546686]
2
{'Outlook': {'Rainy': {'Humidity': {'High': array(['No'], dtype=object), 'Normal': array(['Yes'], dtype=object)}}, 'Overcast': array(['Yes'], dtype=object), 'Sunny': {'Windy': {'False': array(['Yes'], dtype=object), 'True': array(['No'], dtype=object)}}}}

# Prediction

In [0]:
def predict(tree, data):
  temp = tree
  for i in range(len(data)):
    try: 
      if(temp.values == 'Yes' or temp.values == 'No'):
        pass
      else:
        one = list(temp.keys())
        two = data[one[0]]
        temp = temp[one[0]][two]
    except:
      return(temp[0])

# Execution

In [128]:
data_1 = {
    'Outlook' : 'Sunny', 
    'Temperature' : 'Cool', 
    'Humidity' : 'High', 
    'Windy' : 'False'    
}

data_2 = {
    'Outlook' : 'Overcast', 
    'Temperature' : 'Mild', 
    'Humidity' : 'Normal', 
    'Windy' : 'True'    
}

data_3 = {
    'Outlook' : 'Rainy', 
    'Temperature' : 'Hot', 
    'Humidity' : 'Normal', 
    'Windy' : 'True'    
}

data_4 = {
    'Outlook' : 'Overcast', 
    'Temperature' : 'Cool', 
    'Humidity' : 'High', 
    'Windy' : 'True'    
}

print("Play Golf: " + str(predict(tree, data_1)))
print("Play Golf: " + str(predict(tree, data_2)))
print("Play Golf: " + str(predict(tree, data_3)))
print("Play Golf: " + str(predict(tree, data_4)))

Play Golf: Yes
Play Golf: Yes
Play Golf: Yes
Play Golf: Yes

# Adding New Data

In [153]:
new_data = pd.DataFrame({
    'Outlook' : ['Sunny', 'Overcast', 'Rainy', 'Overcast'],
    'Temp' : ['Cool','Mild', 'Hot', 'Cool'], 
    'Humidity' : ['High', 'Normal', 'Normal', 'High'], 
    'Windy' : ['False','True','True','True'],  
    'Play Golf': [predict(tree, data_1), predict(tree, data_2), predict(tree, data_3), predict(tree, data_4)]
})
new_data

    Outlook  Temp Humidity  Windy Play Golf
0     Sunny  Cool     High  False       Yes
1  Overcast  Mild   Normal   True       Yes
2     Rainy   Hot   Normal   True       Yes
3  Overcast  Cool     High   True       Yes

In [154]:
pd.concat([data_frame, new_data], ignore_index=True)

     Outlook  Temp Humidity  Windy Play Golf
0      Rainy   Hot     High  False        No
1      Rainy   Hot     High   True        No
2   Overcast   Hot     High  False       Yes
3      Sunny  Mild     High  False       Yes
4      Sunny  Cool   Normal  False       Yes
5      Sunny  Cool   Normal   True        No
6   Overcast  Cool   Normal   True       Yes
7      Rainy  Mild     High  False        No
8      Rainy  Cool   Normal  False       Yes
9      Sunny  Mild   Normal  False       Yes
10     Rainy  Mild   Normal   True       Yes
11  Overcast  Mild     High   True       Yes
12  Overcast   Hot   Normal  False       Yes
13     Sunny  Mild     High   True        No
14     Sunny  Cool     High  False       Yes
15  Overcast  Mild   Normal   True       Yes
16     Rainy   Hot   Normal   True       Yes
17  Overcast  Cool     High   True       Yes

# Building New Tree

In [160]:
data_final = {
    'Outlook' : 'Sunny', 
    'Temperature' : 'Hot', 
    'Humidity' : 'High', 
    'Windy' : 'False'    
}

tree_new = build_tree(data_frame, 'Play Golf', [])

print("\\/" * 100)
print("/\\" * 100)
print(tree_new)
print("\\/" * 100)
print("/\\" * 100)

used[]
['Outlook', 'Temp', 'Humidity', 'Windy', 'Play Golf']
[0.246749819774439, 0.029222565658954647, 0.15183550136234136, 0.04812703040826927]
0
Rainy
used['Outlook']
['Temp', 'Humidity', 'Windy', 'Play Golf']
[0.5709505944546686, 0.9709505944546686, 0.01997309402197489]
1
Sunny
used['Outlook']
['Temp', 'Humidity', 'Windy', 'Play Golf']
[0.01997309402197489, 0.01997309402197489, 0.9709505944546686]
2
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\
{'Outlook': {'Rainy': {'Humidity': {'High': array(['No'], dtype=object), 'Normal': array(['Yes'], dtype=object)}}, 'Overcast': array(['Yes'], dtype=object), 'Sunny': {'Windy': {'False': array(['Yes'], dtype=object), 'True': array(['No'], dtype=object)}}}}
\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\

# Final Prediction

In [158]:
print("Final Data Value Answer : " + predict(tree_new, data_final))

Final Data Value Answer : Yes