# Artificial Intellengence - Lab Assignment
<i> By: Syed Muhammad Akbar </i>

## All parameters, classes and their labels

In [0]:
departments = {'sales-j':0, 'sales-s':0, 'systems-j':0, 'systems-s':0, 'marketing-j':0, 'marketing-s':0, 'secretary-j':0, 'secretary-s':0}
statuses = {'junior':0, 'senior':0}
ages = {'21 ... 25-j':0, '26 ... 30-j':0, '31 ... 35-j':0, '36 ... 40-j':0, '41 ... 45-j':0, '46 ... 50-j':0,'21 ... 25-s':0,  '26 ... 30-s':0, '31 ... 35-s':0, '36 ... 40-s':0, '41 ... 45-s':0, '46 ... 50-s':0}
salaries = {'26k ... 30k-j':0, '31k ... 35k-j':0, '36k ... 40k-j':0, '41k ... 45k-j':0, '46k ... 50k-j':0, '66k ... 70k-j':0, '26k ... 30k-s':0, '31k ... 35k-s':0, '36k ... 40k-s':0, '41k ... 45k-s':0, '46k ... 50k-s':0, '66k ... 70k-s':0}

### Entering all the data manually

In [0]:
departments['sales-j'] = 2
departments['sales-s'] = 1
departments['systems-j'] = 2
departments['systems-s'] = 2
departments['marketing-j'] = 1
departments['marketing-s'] = 1
departments['secretary-j'] = 1
departments['secretary-s'] = 1

In [0]:
ages['21 ... 25-j'] = 1
ages['21 ... 25-s'] = 0
ages['26 ... 30-j'] = 3
ages['26 ... 30-s'] = 0
ages['31 ... 35-j'] = 2
ages['31 ... 35-s'] = 2
ages['36 ... 40-j'] = 0
ages['36 ... 40-s'] = 1
ages['41 ... 45-j'] = 0
ages['41 ... 45-s'] = 1
ages['46 ... 50-j'] = 0
ages['46 ... 50-s'] = 1

In [0]:
salaries['26k ... 30k-j'] = 2
salaries['26k ... 30k-s'] = 0
salaries['31k ... 35k-j'] = 1
salaries['31k ... 35k-s'] = 0
salaries['36k ... 40k-j'] = 0
salaries['36k ... 40k-s'] = 1
salaries['41k ... 45k-j'] = 1
salaries['41k ... 45k-s'] = 0
salaries['46k ... 50k-j'] = 2
salaries['46k ... 50k-s'] = 2
salaries['66k ... 70k-j'] = 0
salaries['66k ... 70k-s'] = 2

In [0]:
statuses['junior'] = 6
statuses['senior'] = 5

### Provided Data

In [0]:
data = [['marketing', '31 ... 35', '46k ... 50k'], ['sales', '31 ... 35', '66k ... 70k']]

### Counting the total entries in the table

In [91]:
n = 0
for department in departments:
   n += departments[department]
print('total tuples = ', n)

total tuples =  11

### Probability Prediction

In [0]:
def predict_new(tup, k = 1):
  print(tup)

  j = statuses['junior']
  s = statuses['senior']

  prob_department_total_j = (departments[tup[0] + '-j'] + k) / (j + len(departments) / 2 * k) 
  print("prob_department_total_j :", prob_department_total_j)
  prob_department_total_s = (departments[tup[0] + '-s'] + k) / (s + len(departments) / 2 * k) 
  print("prob_department_total_s :", prob_department_total_s)

  prob_ages_total_j = (ages[tup[1] + '-j'] + k) / (j + len(ages) / 2 * k) 
  print("prob_ages_total_j :", prob_ages_total_j)
  prob_ages_total_s = (ages[tup[1] + '-s'] + k) / (s + len(ages) / 2 * k) 
  print("prob_ages_total_s :", prob_ages_total_s)

  prob_salaries_total_j = (salaries[tup[2] + '-j'] + k) / (j + len(salaries) / 2 * k) 
  print("prob_salaries_total_j :", prob_salaries_total_j)
  prob_salaries_total_s = (salaries[tup[2] + '-s'] + k) / (s + len(salaries) / 2 * k) 
  print("prob_salaries_total_s :", prob_salaries_total_s)

  
  prob_total_j = (statuses['junior'] + k) / (n + len(statuses) * k) 
  print("prob_total_j :", prob_total_j)
  prob_total_s = (statuses['senior'] + k) / (n + len(statuses) * k) 
  print("prob_total_s :", prob_total_s)

  prob_junior =  prob_department_total_j * prob_ages_total_j * prob_salaries_total_j * prob_total_j
  prob_senior =  prob_department_total_s * prob_ages_total_s * prob_salaries_total_s * prob_total_s
  print('prob_junior:', prob_junior)
  print('prob_senior:', prob_senior)

  return [prob_junior, prob_senior]

## <b> Execution </b>

In [97]:
data = [['marketing', '31 ... 35', '46k ... 50k'], ['sales', '31 ... 35', '66k ... 70k']]
results = []
for tupl in data:
  results.append(predict_new(tupl))

print(results)

['marketing', '31 ... 35', '46k ... 50k']
prob_department_total_j : 0.2
prob_department_total_s : 0.2222222222222222
prob_ages_total_j : 0.25
prob_ages_total_s : 0.2727272727272727
prob_salaries_total_j : 0.25
prob_salaries_total_s : 0.2727272727272727
prob_total_j : 0.5384615384615384
prob_total_s : 0.46153846153846156
prob_junior: 0.006730769230769231
prob_senior: 0.007628734901462173
['sales', '31 ... 35', '66k ... 70k']
prob_department_total_j : 0.3
prob_department_total_s : 0.2222222222222222
prob_ages_total_j : 0.25
prob_ages_total_s : 0.2727272727272727
prob_salaries_total_j : 0.08333333333333333
prob_salaries_total_s : 0.2727272727272727
prob_total_j : 0.5384615384615384
prob_total_s : 0.46153846153846156
prob_junior: 0.003365384615384615
prob_senior: 0.007628734901462173
[[0.006730769230769231, 0.007628734901462173], [0.003365384615384615, 0.007628734901462173]]